<mat-dialog-content class="dialog-content">
    <div class="dialog-header bg-primary rounded-t-2xl p-2 px-4 flex justify-between items-center">
        <div class="text-xl font-semibold leading-none tracking-tight text-white">
            {{ data.title }}
        </div>
        <button mat-icon-button (click)="closeDialog()">
            <mat-icon class="text-white">close</mat-icon>
        </button>
    </div>

    <!-- Alert Message -->
    <fuse-alert *ngIf="showAlert" [type]="alert.type" [dismissible]="true" (dismissed)="showAlert = false">
        {{ alert.message }}
    </fuse-alert>

    <form [formGroup]="emailGWForm" (ngSubmit)="onSubmit()" class="rounded-lg">
        <div class="dialog-body mt-3">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-2 px-4">
                <div class="form-group">
                    <div class="flex flex-row justify-start">
                        <span class="font-semibold">Type:</span>
                        <mat-radio-group class="flex flex-row mx-3" [color]="'primary'" formControlName="smtptype">
                            <mat-radio-button [value]="'25'">SMTP</mat-radio-button>
                            <mat-radio-button class="ml-4" [value]="'443'">SMTPS</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>

                <div class="form-group">
                    <label class="block font-semibold mb-1">Domain Name</label>
                    <input type="text" class="input-field" formControlName="domain" placeholder="abc.com" />
                    <small class="error"
                        *ngIf="emailGWForm.get('domain')?.invalid && emailGWForm.get('domain')?.touched">
                        Invalid Domain Name.
                    </small>
                </div>

                <div class="form-group">
                    <label class="block font-semibold mb-1">IP:</label>
                    <input type="text" class="input-field" formControlName="ip_address" placeholder="192.168.1.1" />
                    <small class="error"
                        *ngIf="emailGWForm.get('ip_address')?.invalid && emailGWForm.get('ip_address')?.touched">
                        e.g. 192.168.1.1
                    </small>
                </div>

                <div class="form-group">
                    <label class="block font-semibold mb-1">Port:</label>
                    <input type="text" class="input-field" formControlName="port" placeholder="443" />
                    <small class="error" *ngIf="emailGWForm.get('port')?.invalid && emailGWForm.get('port')?.touched">
                        e.g. 443
                    </small>
                </div>

                <div class="form-group" *ngIf="emailGWForm.get('smtptype')?.value === '443'">
                    <label class="block font-semibold mb-1">Certificate</label>
                    <input type="file" class="input-field" formControlName="pem_file" placeholder="abc.pem" />
                    <small class="error"
                        *ngIf="emailGWForm.get('pem_file')?.invalid && emailGWForm.get('pem_file')?.touched">
                        Invalid certificate.
                    </small>
                </div>
            </div>
        </div>

        <div class="mt-2" align="end">
            <button type="submit" mat-flat-button class="fuse-mat-button-medium w-28" [color]="'primary'"
                [disabled]="emailGWForm.invalid || emailGWForm.hasError('nonUniqueSelection')">
                <span> Update </span>
                <mat-progress-spinner class="ml-3" *ngIf="isSubmitting" [diameter]="24"
                    [mode]="'indeterminate'"></mat-progress-spinner>
            </button>
        </div>
    </form>


</mat-dialog-content>