<div class="speed-chart-wrapper">
  <apx-chart
    *ngIf="!connectionStatus"
    [series]="series"
    [chart]="chartOptions.chart"
    [stroke]="chartOptions.stroke"
    [xaxis]="chartOptions.xaxis"
    [yaxis]="chartOptions.yaxis"
    [legend]="chartOptions.legend"
    [dataLabels]="chartOptions.dataLabels"
    [grid]="chartOptions.grid"
    [fill]="chartOptions.fill"
    [tooltip]="chartOptions.tooltip"
  ></apx-chart>

  <div *ngIf="connectionStatus" class="no-connection-message">
    {{ connectionStatus }}
  </div>
</div>