<div class="logs-container">
  <div class="logs-section">
    <h3>CRS Update History</h3>
    <div class="table-container" [class.scrollable]="dataSourceHistory.data.length > 5">
      <table mat-table [dataSource]="dataSourceHistory" class="mat-elevation-z2">

        <ng-container matColumnDef="log">
          <td mat-cell *matCellDef="let log">{{ log }}</td>
        </ng-container>

        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>

  <div class="logs-section">
    <h3>CRS Update Status</h3>
    <div class="table-container" [class.scrollable]="dataSourceStatus.data.length > 5">
      <table mat-table [dataSource]="dataSourceStatus" class="mat-elevation-z2">

        <ng-container matColumnDef="log">
          <td mat-cell *matCellDef="let log">{{ log }}</td>
        </ng-container>

        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>

  <div class="logs-section">
    <h3>ModSec Update</h3>
    <div class="table-container" [class.scrollable]="dataSourceUpdate.data.length > 5">
      <table mat-table [dataSource]="dataSourceUpdate" class="mat-elevation-z2">

        <ng-container matColumnDef="log">
          <td mat-cell *matCellDef="let log">{{ log }}</td>
        </ng-container>

        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>
