<div class="flex flex-col border-none shadow-none rounded-none">
    <fuse-alert
        class="mt-0 -mb-2"
        *ngIf="showAlert"
        [appearance]="'outline'"
        [showIcon]="true"
        [type]="alert.type">
        {{alert.message}}
    </fuse-alert>
    <div *ngIf="loading" class="flex justify-center items-center my-4">
        <mat-progress-bar mode="indeterminate" class="w-full"></mat-progress-bar>
    </div>
    <div>
        <div class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-2 border-b-2 border-primary-500 mt-2">
            <div class="flex text-xl font-bold text-primary mt-2">Firewall Options</div>
            <div class="justify-self-end mt-2 ">
                <button *ngIf="!loading" (click)="refresh()" class=" bg-primary text-white rounded-3xl h-6">
                    <mat-icon class="text-white text-2xl " matTooltip="Refresh">refresh</mat-icon>
                </button>
                <button *ngIf="!loading" (click)="updateOptions()" class="ml-2 bg-warn-600 text-white rounded-3xl h-6">
                    <mat-icon class="text-white text-2xl " matTooltip="Edit Firewall Options">edit</mat-icon>
                </button>
            </div>  
        </div>

        <div *ngIf="options" class="grid sm:grid-cols-1 lg:grid-cols-1 mt-3">
            
            <div>
                <span class="text-lg font-medium">General:</span> 
            </div>

            <div *ngIf="options.other_settings && getKeys(options.other_settings).length > 0; else emptyGeneralSettingTemplate">
                <div class="grid sm:grid-cols-1 lg:grid-cols-4">
                    <div class="justify-self-start mx-4 my-1 ml-3 mt-2" *ngFor="let setting of options.other_settings | keyvalue">
                        <span class="text-base font-medium">{{ setting.key }}:</span> 
                        <span class="ml-1 bg-primary-400 text-md  px-3 font-medium py-1 rounded-xl">{{ setting.value }}</span>
                    </div>
                </div>
                
            </div>
              
            <ng-template #emptyGeneralSettingTemplate>
                <p class="paddingleft">No <b>General</b> Setting Found.</p>
            </ng-template>
            
            <div *ngIf="options.loginterface && options.loginterface.length > 0; else noLogInterface">
                <div class="justify-self-start mx-4 my-1 ml-3">
                    <span class="text-base font-medium">Log Interface:</span> 
                    <span class="ml-1 bg-primary-400 text-md  px-3 font-medium py-1 rounded-xl ">{{ options.loginterface.join(", ") }}</span>
                </div>
            </div>
            <ng-template #noLogInterface>
                <p class="paddingleft">No <b>Log Interface</b> Setting Found.</p>
            </ng-template>

            
            <div *ngIf="options.skip && options.skip.length > 0; else noSkipInterface">
                <div class="justify-self-start mx-4 my-1 ml-3">
                    <span class="text-base font-medium">Skip Interface:</span> 
                    <span class="ml-1 bg-primary-400 text-md  px-3 font-medium py-1 rounded-xl">{{ options.skip.join(", ") }}</span>
                </div>
            </div>
            <ng-template #noSkipInterface>
                <p class="paddingleft">No <b>Skip Interface</b> Setting Found.</p>
            </ng-template>
            
            <div class="my-1 border-t-2 border-accent-300">
                <span class="text-lg font-medium">Limits:</span> 
            </div>
            <div *ngIf="options.limit && getKeys(options.limit).length > 0; else noLimitTemplate">
                <div class="grid sm:grid-cols-1 lg:grid-cols-4">
                    <div class="justify-self-start mx-4 ml-3 mt-1" *ngFor="let limit of options.limit | keyvalue">
                        <span class="font-medium text-base">{{ limit.key }}:</span> 
                        <span class="ml-1 bg-primary-400 text-md  px-3 font-medium py-1 rounded-xl">{{ limit.value }}</span>
                    </div>
                </div>
            </div>
            
            <ng-template #noLimitTemplate>
                <p class="paddingleft">No <b>Limit</b> Setting Found.</p>
            </ng-template>
            
            <div class="my-1 border-t-2 border-primary-200 mt-2">
                <span class="text-lg font-medium">Timeout:</span> 
            </div>
            <div *ngIf="options.timeout && getKeys(options.timeout).length > 0; else noTimeoutTemplate">
                <div class="grid sm:grid-cols-1 lg:grid-cols-5">
                    <div class="justify-self-start mx-4 ml-3 mt-1" *ngFor="let timeout of options.timeout | keyvalue">
                        <span class="font-medium text-base">{{ timeout.key }}:</span> 
                        <span class="ml-1 bg-primary-400 text-md  px-3 font-medium py-1 rounded-xl">{{ timeout.value }}</span>
                    </div>
                </div>
            </div>
            
            <ng-template #noTimeoutTemplate>
                <p class="paddingleft">No <b>Timeout</b> Setting Found.</p>
            </ng-template>
        </div>
    </div>
</div>