<div class="flex flex-auto p-3 sm:p-5">
    <div class="flex flex-col flex-auto w-full">
        <div class="mb-8" *ngIf="showAlert">
            <fuse-alert
                class="mt-0 -mb-2"
                *ngIf="showAlert"
                [appearance]="'outline'"
                [showIcon]="true"
                [type]="alert.type">
                {{alert.message}}
            </fuse-alert>
        </div>
        <div *ngIf="loading" class="flex justify-center items-center my-4">
            <mat-progress-bar mode="indeterminate" class="w-full"></mat-progress-bar>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-1 mb-4">
            
                <div class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-2 rounded-xl bg-primary-500">
                    <div class="justify-self-start flex items-center">
                        <div class="text-xl font-bold leading-none tracking-tight text-white pl-5"> Network Interface  </div>
                    </div>
                    
                    <div class="justify-self-end m-2 mr-4">
                        <button *ngIf="!loading" (click)="refreshTable()" [disabled]="loading" class="px-2 pt-1 bg-white text-white rounded-md">
                            <mat-icon class="text-primary">refresh</mat-icon>
                        </button>
                    </div>
                </div>  
            
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-11 gap-4 mb-4">
            <div class="col-span-9 grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-7 gap-4">
                <div class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-3 shadow">
                    
                    <div class="flex flex-col items-center">
                        <div class="text-2xl font-medium leading-none tracking-tight text-blue-500 sm:text-4xl"> 
                            {{nicCount}}
                        </div>
                        <div class="text-lg text-blue-600 dark:text-blue-500"> 
                            Interfaces
                        </div>
                    </div>
                </div>
                <div class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-3 shadow">
                    
                    <div class="flex flex-col items-center">
                        <div class="text-2xl font-medium leading-none tracking-tight text-orange-500 sm:text-4xl"> 
                            {{subInterfaceCount}}
                        </div>
                        <div class="text-lg text-orange-600 dark:text-orange-500"> 
                            Sub NIC
                        </div>
                    </div>
                </div>
                <div class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-3 shadow">
                    
                    <div class="flex flex-col items-center">
                        <div class="text-2xl font-medium leading-none tracking-tight text-purple-500 sm:text-4xl"> 
                            {{totalVlanCount}}
                        </div>
                        <div class="text-lg  text-purple-600 dark:text-purple-500"> 
                            vLANs
                        </div>
                    </div>
                </div>
    
                <div class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-3 shadow">
                    
                    <div class="flex flex-col items-center">
                        <div class="text-2xl font-medium leading-none tracking-tight text-red-500 sm:text-4xl"> 
                            {{totalExternal}}
                        </div>
                        <div class="text-lg  text-red-600 dark:text-red-500"> 
                            External
                        </div>
                    </div>
                </div>
    
                <div class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-3 shadow">
                    
                    <div class=" flex flex-col items-center">
                        <div class="text-2xl font-medium leading-none tracking-tight text-green-500 sm:text-4xl"> 
                            {{totalInternal}}
                        </div>
                        <div class="text-lg  text-green-600 dark:text-green-500"> 
                            Internal
                        </div>
                    </div>
                </div>
    
                <div class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-3 shadow">
                    
                    <div class="flex flex-col items-center">
                        <div class="text-2xl font-medium leading-none tracking-tight text-yellow-500 sm:text-4xl"> 
                            {{sdWaninterfaces.length}}
                        </div>
                        <div class="text-lg  text-yellow-600 dark:text-yellow-500"> 
                            sdWAN
                        </div>
                    </div>
                </div> 
    
                <div class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-3 shadow">
                    
                    <div class="flex flex-col items-center">
                        <div class="text-2xl font-medium leading-none tracking-tight text-pink-500 sm:text-4xl"> 
                            {{vpninterfaces.length}}
                        </div>
                        <div class="text-lg text-pink-600 dark:text-pink-500"> 
                            VPN
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-span-2 grid grid-cols-2 bg-card rounded-2xl shadow w-full">
                <div class="bg-primary rounded-l-2xl flex items-center justify-center text-on-primary text-lg font-bold p-2">
                    Default Gateway
                </div>
                
                <div class="bg-card rounded-r-2xl flex items-center justify-center text-xl relative p-3">
                    <span class="text-normal">{{ defaultGateway }}</span>
                    <button *ngIf="!loading" (click)="updateGW()" class="absolute top-1 right-2 flex bg-primary text-on-primary rounded-3xl h-6">
                        <mat-icon class="text-white text-2xl " matTooltip="Edit Gateway">edit</mat-icon>
                    </button>
                </div>
              
            </div>

            <!-- <div class="col-span-2 flex flex-col px-5 shadow rounded-2xl overflow-hidden bg-card">
                <div class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-2 border-b-2 border-primary-300">
                    <div class="justify-self-start flex items-center ">
                        <div class="text-lg font-bold leading-none tracking-tight text-primary">Default Gateway</div>
                    </div>   
                    <div class="justify-self-end mt-2 ">
                        <button *ngIf="!loading" (click)="updateGW()" class=" bg-primary text-white rounded-3xl h-6">
                            <mat-icon class="text-white text-2xl " matTooltip="Edit Gateway">edit</mat-icon>
                        </button>
                    </div>             
                </div>
                <div class="flex justify-center items-center h-full text-xl leading-none tracking-tight my-2">
                    
                    <span>{{defaultGateway}}</span>
                </div>
            </div>  -->
        </div>
        
        <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-4 gap-4">  
            <div class="col-span-4"> <!-- Make col-span-3 when shoing macros and  firewall options-->
                <div class=" flex flex-col px-5 pt-4 pb-2 shadow rounded-2xl overflow-hidden bg-card">
                    <div class="flex text-xl font-bold justify-start mx-3 border-b-2 border-primary-200 text-primary">NIC Management</div>
                    <app-dynamic-table [data]="interfaces" [displayedColumns]="displayedColumns" [headerMapping]="headerMapping " (editRow)="onEditRow($event)"></app-dynamic-table>    
                </div>
            </div>
            
            <!-- <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-1 gap-4">
                <div>
                    <div class="col-span-1 flex flex-col px-5 pt-4 pb-5 shadow rounded-2xl overflow-hidden bg-card ">
                        <app-macros-management-component [externalinterfaces]="externalinterfaces" 
                            [internalinterfaces]="internalinterfaces" [sdWaninterfaces]="sdWaninterfaces" 
                            [vpninterfaces]="vpninterfaces" [nicList]="nicList" (editRow)="onEditRow($event)"></app-macros-management-component>
                    </div>
                    <div class="col-span-1 flex flex-col px-5 pt-4 pb-5 mt-3 shadow rounded-2xl overflow-hidden bg-card ">
                        <app-fw-options (editRow)="onEditRow($event)"></app-fw-options>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>